.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(240px, 100%), 1fr));
    gap: 1rem;
  }
  
  /* 以下あしらいの実装 */
  * {
    box-sizing: border-box;
  }
  
  section {
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 1rem;
  }
  
  section > * + * {
    margin-top: 2rem;
  }

  .card {
    box-shadow:
      0 0.2px 0.3px rgba(0, 0, 0, 0.017),
      0 0.4px 0.7px rgba(0, 0, 0, 0.024),
      0 0.6px 1.2px rgba(0, 0, 0, 0.03),
      0 1px 1.9px rgba(0, 0, 0, 0.035),
      0 1.5px 2.9px rgba(0, 0, 0, 0.04),
      0 2.4px 4.5px rgba(0, 0, 0, 0.046),
      0 4px 7.5px rgba(0, 0, 0, 0.053),
      0 8px 15px rgba(0, 0, 0, 0.07)
    ;
    border-radius: 4px;
  }
  
  .card__content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #aaa;
    padding: 2rem;
  }

  h1 {
    color: #aaa;
    text-align: center;
  }
  a {
    text-decoration: none;
  }




























   /* これが無いとモーダルウィンドウ表示の際に余白が出る */
.PopUp {
  margin: 0;
  padding: 0;
  z-index: 1100;
}

/* モーダル全体(背景＋本体) */
.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* モーダル背景 */
.modal-bg{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
}

/* モーダル本体 */
.modal-content{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* overflow: scroll;  */
  height: 92%;/* これが無いと「overflow:scroll」が利かない */
  width: 100%;/* これが無いと「overflow:scroll」が利かない */
  max-width: 600px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-y: hidden;
  background-color: antiquewhite;
}

/* モーダルウィンドウ表示中に記事本体を固定 */
.closed_div_PopUp {
  height: 40px;
  width: 40px;
  background-color: black;
  position: absolute; 
  right: 0;
  border-radius: 10px;
}

.closed_cover_PopUp {
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;
}


.closed_p_PopUp {
  margin-left: 8px;
  font-size: 30px;
  color: white;
  position: fixed;
}

.closed_div_chr_PopUp {
  font-size: 30px;
}

.modal-padding {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.closed_div_p_scroll {
  height: 90%;
  overflow-y: scroll;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;

  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: auto;
}
.closed_div_p_scroll::-webkit-scrollbar {
  width: 10px;
}
.closed_div_p_scroll::-webkit-scrollbar-track {
  background-color: darkgrey;
  border-radius: 100px;
}
.closed_div_p_scroll::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}
